<div class="citymail-card">
  <h2 class="fs-4 fw-semibold mb-4">Paketets resa</h2>

  <div class="position-relative mb-4">
    <ng-container *ngFor="let point of journeyPoints; let i = index; let last = last">
      <div class="d-flex gap-3" [class.mb-4]="!last">
        <div class="journey-point">
          <i class="bi bi-{{point.icon}}"></i>
        </div>
        <div>
          <div class="fw-medium">{{point.location}}</div>
          <div class="small text-secondary">{{point.timestamp}}</div>
          <div class="small">{{point.description}}</div>
        </div>
      </div>

      <div *ngIf="!last" class="journey-line top-4 bottom-4"></div>
    </ng-container>
  </div>

  <button (click)="toggleShowAll()" class="text-citymail fw-medium border-0 bg-transparent">
    {{ showAllPoints ? 'Visa mindre' : 'Visa mer' }}
  </button>
</div>